keybinds clear-defaults=true {
    normal {
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt l" { MoveFocus "Right"; }

        bind "Alt J" { ScrollDown; }
        bind "Alt K" { ScrollUp; }

        bind "Alt n" { NewPane; }
        bind "Alt q" { CloseFocus; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt e" { EditScrollback; }
        bind "Alt r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
    }

    renamepane {
        bind "Enter" "Ctrl c" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Normal"; }
    }
}

simplified_ui true
default_layout "compact"
mouse_mode false
show_startup_tips false
