:root {
	--background-color-box: #374247 !important;
	
	--toolbar-field-background-color: transparent !important;
	--toolbar-field-focus-background-color: #374247 !important;
	--toolbar-field-focus-color: #d3c6aa !important;
	--toolbar-bgcolor: #2f383e !important;
	--toolbar-color: #d3c6aa !important;
	--tab-selected-bgcolor: #a7c080 !important;
	--tab-selected-textcolor: #2b3339 !important;
	--tab-bgcolor: #323c41 !important;
	
	--link-color: #a7c080 !important;
	--color-accent-primary: #a7c080 !important;
	
	/* text */
	--text-color: #d3c6aa !important;
		
	/* sidebar */
	--content-area-shadow: none !important;
	--sidebar-border-color: none !important;
	--sidebar-background-color: #374247 !important;
	--sidebar-text-color: #d3c6aa !important;
	
	/* panels */
	--arrowpanel-background: #374247 !important;
	--arrowpanel-color: #d3c6aa !important;
}

/* fonts */
* {
	font-family: monospace !important;
	font-size: 13px !important;
}

/* completely hide navbar */
#nav-bar {
  /* customize this value. */
  --navbar-margin: -38px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 0;
}

#navigator-toolbox:focus-within > #nav-bar,
#navigator-toolbox:hover > #nav-bar
{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

/* main browser viewport */
#tabbrowser-tabbox {
	outline: none !important;
	--content-area-shadow: none;
}

/* sidebar */
#tabbrowser-tabs {
	padding-top: 10px !important;
};

.tab-background {
	box-shadow: none !important;
}

/* hide options */
moz-radio-group[name="tabDirection"],
moz-radio-group[name="position"],
moz-radio-group[name="visibility"]
{
	display: none !important;
}

